@inherits LayoutComponentBase

<MudThemeProvider Theme=@theme />
<MudSnackbarProvider />
<MudDialogProvider MaxWidth=MaxWidth.ExtraLarge
    CloseButton=true
    CloseOnEscapeKey=true
    Position=DialogPosition.Center
/>

<MudLayout>
    <MudAppBar Elevation=1 Dense=true Fixed=true>
        <MudSpacer/>
        <LoginDisplay />
    </MudAppBar>
    <MudDrawer Elevation=1 Open=true>
        <MudDrawerHeader>
            <MudText Typo=@Typo.h5 Class="mt-1">Header</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Href="" Match=@NavLinkMatch.All>Home</MudNavLink>
            <MudNavLink Href="counter" Match=@NavLinkMatch.Prefix>Counter</MudNavLink>
            <AuthorizeView>
                <MudNavLink Href="create" Match=@NavLinkMatch.All>Write a post</MudNavLink>
            </AuthorizeView>
        </MudNavMenu>
        <AboutBox></AboutBox>
    </MudDrawer>
    <MudMainContent Class="d-flex flex-column mb-2">
        <MudContainer Class="d-block" MaxWidth=@MaxWidth.ExtraLarge>
            @Body
        </MudContainer>
        <MudContainer Class="d-flex flex-row mt-6 storyblog-main-footer">
            <div class="d-inline-flex flex-column flex-1">
                <div class="d-flex justify-center">
                    <MudText Typo=@Typo.h6>Контакты</MudText>
                </div>
            </div>
            <div class="d-inline-flex flex-column flex-1">
                <div class="d-flex justify-center">
                    <MudText Typo=@Typo.h6>Недавние посты</MudText>
                </div>
            </div>
            <div class="d-inline-flex flex-column flex-1">
                <div class="d-flex justify-center">
                    <MudText Typo=@Typo.h6>Подписаться</MudText>
                </div>
            </div>
        </MudContainer>
    </MudMainContent>
</MudLayout>