@using StoryBlog.Web.Client.Blog.Shared
@using StoryBlog.Web.Client.Blog.Extensions

<Fluxor.Blazor.Web.StoreInitializer />

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData=@routeData DefaultLayout=@typeof(MainLayout)>
                <NotAuthorized>
                    @if (false == context.User.IsAuthenticated())
                    {
                        <RedirectToSignIn />
                    }
                    else
                    {
                        <MudAlert>You are not authorized</MudAlert>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>