@page "/"

@using StoryBlog.Web.Client.Blog.Store
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Home</PageTitle>

@switch (Store.Value.StoreState)
{
    case StoreState.Loading:
    {
        <text>Loading...</text>

        break;
    }

    case StoreState.Success:
    {
        @foreach (var post in Store.Value.Posts)
        {
            <MudPaper Square=true Class="storyblog-home-blog" Elevation=0>
                <BlogEntry Title=@post.Title data-test="test-value" Slug=@post.Slug>
                    <HeaderContent>
                        <div class="d-block mr-2">
                            <MudIcon Icon=@Icons.Material.Filled.CalendarMonth />
                            <DateTimeView Class="text-disabled" Mode=@DateTimeMode.RelativeFromCurrent DateTime=@post.CreatedAt />
                        </div>
                        <div>
                            <MudIcon Icon=@Icons.Material.Filled.Person />
                            <span>Unknown</span>
                        </div>
                        <div>
                            <MudIcon Icon=@Icons.Material.Filled.Comment />
                            <span>@post.CommentsCount</span>
                        </div>
                    </HeaderContent>
                    <ChildContent>
                        @post.Text
                    </ChildContent>
                </BlogEntry>
            </MudPaper>
        }

        break;
    }

    case StoreState.Failed:
    {
        <text>Loading...</text>

        break;
    }
}
