@page "/"

@using StoryBlog.Web.Client.Blog.Store
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Home</PageTitle>

@switch (Store.Value.StoreState)
{
    case StoreState.Loading:
    {
        <text>Loading...</text>

        break;
    }

    case StoreState.Success:
    {
        @foreach (var post in Store.Value.Posts)
        {
            <MudPaper Square=true Class="storyblog-home-blog" Elevation=0>
                <BlogEntry Title=@post.Title data-test="test-value" Slug=@post.Slug>
                    <HeaderContent>
                        <div class="mr-2">
                            <strong>Unknown</strong>
                        </div>
                        <DateTimeView Class="mr-2" Typo=@Typo.caption Mode=@DateTimeMode.RelativeFromCurrent DateTime=@post.CreatedAt />
                        <div>
                            <MudText Typo=@Typo.caption>@post.CommentsCount комментариев</MudText>
                        </div>
                    </HeaderContent>
                    <ChildContent>
                        @post.Text
                    </ChildContent>
                </BlogEntry>
            </MudPaper>
        }

        break;
    }

    case StoreState.Failed:
    {
        <text>Loading...</text>

        break;
    }
}
