<MudPaper Class="storyblog-box storyblog-about-box ma-2">
    <MudContainer Class="d-inline-flex flex-column pb-4">
        <div class="d-inline-flex flex-column flex-1">
            <div class="d-flex justify-center">
                <MudText Typo=@Typo.h6>О Блоге</MudText>
            </div>
            <MudText Typo=@Typo.body2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Quos blanditiis tenetur unde suscipit,
                quam beatae rerum inventore consectetur, neque doloribus,
                cupiditate numquam dignissimos laborum fugiat deleniti?
                Eum quasi quidem quibusdam.
            </MudText>
        </div>
    </MudContainer>
</MudPaper>