<article class="d-flex flex-column px-6 py-4 my-5 storyblog-blog-entry" @attributes=@UserAttributes>
    <div class="storyblog-blog-entry-header">
        <div class="storyblog-blog-entry-header-title">
            <a class="mud-typography mud-link mud-link-underline-none mud-typography-h6 cursor-pointer" @onclick=@OnTitleClick>@Title</a>
        </div>
        <div class="d-flex flex-row align-baseline storyblog-blog-entry-header-actions">
            @HeaderContent
        </div>
    </div>
    <div class="mt-2 storyblog-blog-entry-content">
        @ChildContent
    </div>
    <div class="storyblog-blog-entry-footer">

    </div>
</article>
