.storyblog-comment {
    /**/
}

    .storyblog-comment .storyblog-comment-header {
        /**/
    }

    .storyblog-comment .storyblog-comment-content {
        /**/
    }

    .storyblog-comment .storyblog-comment-actions {
        /**/
    }

    .storyblog-comment .storyblog-comment-reply {
        /**/
    }

        .storyblog-comment .storyblog-comment-reply .storyblog-comment-reply-actions {
            /**/
        }

    .storyblog-comment .storyblog-comment-comments {
        /**/
    }

    .storyblog-comment .storyblog-comment-footer {
        /**/
    }
