<div class=@Classname @attributes=@UserAttributes>
    <div class="storyblog-comment-header d-flex flex-row align-center">
        <div class="d-inline-flex align-center">
            <MudIcon Icon=@Icons.Material.Filled.CalendarMonth />
            <DateTimeView DateTime=@CreatedDateTime Mode=@DateTimeMode.RelativeFromCurrent/>
        </div>
        <MudSpacer/>
        <MudIconButton ButtonType=@ButtonType.Button Icon=@Icons.Material.Filled.Reply Size=@Size.Small Command=@OpenReply />
    </div>
    <div class="storyblog-comment-content">
        @ChildContent
    </div>
    
    @if (Mode.Reply == mode)
    {
        <div class="storyblog-comment-reply">
            <MarkdownEditor Class="mt-4" AutoFocus=@true @bind-Text=@CommentReply>
                <Toolbar>
                    <ToolbarGroup>
                        <ToolbarActionButton EditorAction=@EditorAction.Undo />
                        <ToolbarActionButton EditorAction=@EditorAction.Redo />
                    </ToolbarGroup>
                    <ToolbarGroup>
                        <ToolbarActionButton EditorAction=@EditorAction.Bold />
                        <ToolbarActionButton EditorAction=@EditorAction.Italic />
                        <ToolbarActionButton EditorAction=@EditorAction.Underline />
                    </ToolbarGroup>
                </Toolbar>
            </MarkdownEditor>

            <div class="storyblog-comment-reply-actions">
                <MudButton ButtonType=@ButtonType.Button Icon=@Icons.Material.Filled.Cancel Size=@Size.Small Command=@CancelReply>@Localizer["ButtonCancelReply"]</MudButton>
                <MudButton ButtonType=@ButtonType.Button Icon=@Icons.Material.Filled.Send Size=@Size.Small Command=@SendReply>@Localizer["ButtonSendReply"]</MudButton>
            </div>
        </div>
    }
    
    @if (null != Comments)
    {
        <div class="storyblog-comment-comments ml-2">
            @for (var index = 0; index < Comments.Count; index++)
            {
                var comment = Comments[index];

                <Comment Key=@comment.Key ParentKey=@Key PostKey=@PostKey CreatedDateTime=@comment.CreatedAt Comments=@comment.Comments Class="pa-1">
                    <ChildContent>
                        @comment.Text
                    </ChildContent>
                </Comment>
            }
        </div>
    }
    
    <div class="storyblog-comment-footer">

    </div>
</div>