<article class="storyblog-blog-view px-6 py-4 my-5" @attributes=@UserAttributes>
    <div class="storyblog-blog-view-header-title">
        <a class="mud-typography mud-link mud-link-underline-none mud-typography-h6 cursor-pointer" @onclick=@OnTitleClick>@Title</a>
    </div>
</article>
