@using StoryBlog.Web.Microservices.Identity.WebApi.Controllers
@model StoryBlog.Web.Microservices.Identity.WebApi.ViewModels.Account.SigninFormViewModel

<div class="d-flex align-items-center">
    <div class="sidenav">

    </div>
    <main class="signin-form w-100 m-auto border rounded">
        <form asp-action="Login" asp-controller="Account" method="post">
            <h1 class="h3 mb-3 fw-normal">Signin form</h1>
            <input id=@AccountController.ReturnUrlKey name=@AccountController.ReturnUrlKey type="hidden" value=@ViewData[AccountController.ReturnUrlKey] />
            <fieldset>
                <div class="form-floating">
                    <input asp-for="Email" class="form-control" placeholder="name@exaple.com" />
                    <label asp-for="Email"></label>
                </div>
                <div class="form-floating">
                    <input asp-for="Password" class="form-control" placeholder="password" />
                    <label asp-for="Password"></label>
                </div>
            </fieldset>
            <div class="form-check text-start">
                <input asp-for="RememberMe" />
                <label asp-for="RememberMe"></label>
            </div>
            <button type="submit" class="btn btn-primary">Signin</button>
        </form>
    </main>
</div>
